body {
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #212121;
background: #F5F5F5;
}
/*header styling*/
.header-webstudio {
    background: #FFFFFF;
}
/*logo header*/
.header-webstudio-link {
    text-decoration: none;
}
.logo-web-header {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19em;
letter-spacing: 0.03em;
    color: #2196F3;  
}
.logo-studio-header {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19em;
letter-spacing: 0.03em;
    color: #000000;}
        /*link list decoration*/
        .linklist-header {
            list-style: none;
            font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
        }
        .link-studio, .link-contacts {
            text-decoration: none;
            color: #212121;
        }
        .link-studio:hover,:focus, .link-portfolio:hover,:focus, .link-contacts:hover,:focus {
            color: #2196F3;
        }
        .link-portfolio {
            text-decoration: none;
            color: #2196F3  
        }
        /*contacts header styling*/
        .contacts-header {
            list-style: none;
            font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
     }
    .tel-link-header, .mail-link-header {
        text-decoration: none;
        color: #757575;
    }
    .tel-link-header:hover, .mail-link-header:hover {
        color: #2196F3   
    }
/*section portfolio*/
.section-portfolio {
   background-color:  #FFFFFF;
}
.visually-hidden {
    display: none
}
/*buttons list*/
.portfolio-btn-list {
    list-style: none;
}
.button-portfolio {
    cursor: pointer;
    background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
border: none;
font-family: 'Roboto';
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.button-secondary {
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px; 
    border: none;
    font-family: 'Roboto';
    font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.button-secondary:hover,:focus {
    background: #2196F3;
    color: #FFFFFF
}

/*examples list*/
.portfolio-list {
    list-style: none;
} 
.portfolio-item {
    box-sizing: border-box;
    background: #FFFFFF;
border: 1px solid #EEEEEE;
}
.portfolio-link {
    text-decoration: none;
}
.portfolio-tittle {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2em;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87em;
    letter-spacing: 0.03em;
    color: #757575;     
}
.portfolio-tittle:hover, :focus {
    color: #2196F3   
}
.portfolio-text:hover,:focus {
    color: #2196F3   
}
/*footer styling*/
.footer-webstudio {
    background: #2F303A; 
}
/*logo footer*/
.footer-webstudio-link {
    text-decoration: none;
}
.logo-web-footer {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19em;
letter-spacing: 0.03em;
    color: #2196F3;  
}
.logo-studio-footer {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19tem;
letter-spacing: 0.03em;
    color: #FFFFFF;}
     /*address*/
     .contacts-footer-list {
        list-style: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71em;
        letter-spacing: 0.03em;
 }
 .location-link {
    text-decoration: none;
    color: #FFFFFF;
 }
 .tel-link-footer, .mail-link-footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.location-link:hover, .tel-link-footer:hover, .mail-link-footer:hover {
    color: #2196F3   
}